.advantages {
    background-color: var(--bg-gray);
    text-align: center;
    padding: 3.64vw 0 4.16vw;
}

.advantages__header {
    margin: 0 0 2.81vw;
}

.advantages__items {
    margin: 0 auto;
    width: 49.95vw;
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 282px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.advantages__icon {
    width: 4.68vw;
}

.advantages__icon--small {
    margin-bottom: 0.55vw;
    width: 3.59vw;
}

.advantages__item-title {
    margin: 1.56vw 0 0.57vw;
    font-size: 1.1em;
    white-space: nowrap;
    font-weight: 400;
}

.advantages__item-text {
    color: var(--darck-gray);
    font-size: 0.85em;
    line-height: 1.04vw;
}

.advantages__item-text--small {
    margin: 0 auto;
    width: 10.41vw;
}

@media (max-width: 900px) {
    .advantages__items {
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    .advantages__item-text--small {
        width: 100%;
    }

    .advantages__item-text {
        font-size: 1.3em;
        line-height: 3.04vw;
    }

    .advantages__icon {
        width: 7.68vw;
    }

    .advantages__icon--small {
        width: 6.59vw;
    }
}

@media (max-width: 550px) {
    .advantages__item-text {
        line-height: 5vw;
    }
}