html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.93vw;
    line-height: 1.85vh;
    color: #151716;
    --light-gray: #BEBEBE;
    --darck-gray: #7B7B7B;
    --border-gray: #494949;
    --bg-gray: #F6F6F6;
    --pice-gray: #A5A5A5;
    --orange: #FF7028;
    --text-orange: #FE5B00;
    --item-orange: #F5702C;
    --bottom-orange: #F6761A;
}

p{
    margin: 0;
}

h2 {
   font-size: 1.66vw;
   line-height: 1.9vw;
   font-weight: 400; 
}

h1, h2, h3 {
    font-family: "Gilory", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

a, button {
    cursor: pointer;
}

.background-header-offer {
 background-image: url(../../src/images/Main-BG.png);
}

.price-btn-small {
    font-size: 0.83vw;
    line-height: 1.04vw;
    border-radius: 2px;
    padding: 0.41vw 0.57vw;
    background-color: var(--orange);
    color: white;
}

.price-btn-big {
    font-size: 1.25vw;
    font-weight: bold;
    border-radius: 2px;
    padding: 0.78vw;
    background-color: var(--orange);
    color: white;
}

.container {
    width: 62.5vw;
    margin: 0 auto;
}

.line::after {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #4B4B4B, #262625);
    width: 19.53vw;
    height: 1px;
    left: -16px;
    top: -1.04vw;
}

.arrow-icon::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -20px;
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--item-orange);
    border-bottom: 2px solid var(--item-orange);
    border-radius: 2px;
    transform: rotate(-45deg);;
}